<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Timka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/styles.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="../../dist/js/script.min.js"></script>
</head>
<body>
   <header>
       <div class="wrapper">
           <div class="top-menu">
               <div class="logo"><img src="../../src/img/Logo.png" alt=""></div>
               <div class="contact-menu">
                   <div class="contact"><i class="fa fa-envelope"></i>info@yoursite.com</div>
                   
                <div class="contact"><i class="fa fa-map-marker-alt"></i>Днепровская Набережная 25</div>
                <div class="contact"><i class="fa fa-phone"></i>+38 (044) 275 46 46</div>

           </div>
           </div>
           </div>
           <nav>
            <ul >
                <li class="nav-item main-link"><a href="main.html" class="nav-link">Главная</a></li>
                <li class="nav-item about-link dropdown" >
                    <a  class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О нас</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="schedule.html">Расписание</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Питание</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Развитие</a>
                       </div>
                 </li>
               
                    <li class="nav-item design-link"><a href="interior.html" class="nav-link">Интерьер</a></li>
                <li class="nav-item galery-link active"><a href="gallery.html" class="nav-link">Галерея</a></li>
                <li class="nav-item contact-link"><a href="contact.html" class="nav-link">Контакты</a></li>
                <li class="nav-item price-link"><a href="price.html" class="nav-link">Цена</a></li>
            </ul>
        </nav>
      
   </header>
   <main id="news">
       <div class="header-img">
           <!-- <img src="../../src/img/header-img.png" alt=""> -->
           <img src="../../src/img/clouds1.png" alt="">
       </div>
       <div class="wrapper row">
       <div class="breadcrumbs">Главная / Новости</div>
       <div class="name-cat container">  
           <h1>Наши Новости</h1>
        <select class="form-control">
             <option>Акции</option>
             <option>Обьявления</option>
             <option>Статьи</option>
           </select></div>
           <div class="wrapper-article container">
               <div class="article-preview">
                   <h3>Как развивать ребенка с 9 месяцев до 2-х лет.</h3>
                   <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит ...
                    по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
                    <div class="previev-footer">
                        <p class="data">01/01/2019</p>
                        <p class="tags">Акции, Объявления</p>
                        <button class="but">ПОДРОБНЕЕ</button>
                    </div>
               </div>
               <div class="article-preview">
                   <a href="article.html">
                <h3>Как развивать ребенка с 9 месяцев до 2-х лет.</h3>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит ...
                 по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
                 <div class="previev-footer">
                     <p class="data">01/01/2019</p>
                     <p class="tags">Акции, Объявления</p>
                     <button class="but">ПОДРОБНЕЕ</button>
                 </div>
                </a>
            </div>
            <div class="article-preview">
                <h3>Как развивать ребенка с 9 месяцев до 2-х лет.</h3>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит ...
                 по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
                 <div class="previev-footer">
                     <p class="data">01/01/2019</p>
                     <p class="tags">Акции, Объявления</p>
                     <button class="but">ПОДРОБНЕЕ</button>
                 </div>
            </div>
            <div class="article-preview">
                <h3>Как развивать ребенка с 9 месяцев до 2-х лет.</h3>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит ...
                 по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
                 <div class="previev-footer">
                     <p class="data">01/01/2019</p>
                     <p class="tags">Акции, Объявления</p>
                     <button class="but">ПОДРОБНЕЕ</button>
                 </div>
            </div>
            <div class="article-preview">
                <h3>Как развивать ребенка с 9 месяцев до 2-х лет.</h3>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит ...
                 по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
                 <div class="previev-footer">
                     <p class="data">01/01/2019</p>
                     <p class="tags">Акции, Объявления</p>
                     <button class="but">ПОДРОБНЕЕ</button>
                 </div>
            </div>
            <div class="article-preview">
                <h3>Как развивать ребенка с 9 месяцев до 2-х лет.</h3>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит ...
                 по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
                 <div class="previev-footer">
                     <p class="data">01/01/2019</p>
                     <p class="tags">Акции, Объявления</p>
                     <button class="but">ПОДРОБНЕЕ</button>
                 </div>
            </div>
           </div>
           <nav  class="wrapper-pagination container" aria-label="Page navigation ">
             <ul class="pagination">
               <li class="page-item">
                 <a class="page-link switch" href="#" aria-label="Previous">
                   <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                 </a>
               </li>
               <li class="page-item"><a class="page-link" href="#">1</a></li>
               <li class="page-item"><a class="page-link" href="#">2</a></li>
               <li class="page-item"><a class="page-link" href="#">3</a></li>
               <li class="page-item">
                 <a class="page-link switch" href="#" aria-label="Next">
                   <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                 </a>
               </li>
             </ul>
           </nav>
     
    </div>
   </main>
   <footer>
    <div class="wrapper container">
    <div class="footer-contact">
         <div class="logo"><img src="../../src/img/Logo.png" alt=""></div>
         <div class="contact c-t"><i class="fa fa-phone"></i>+38 (044) 275 46 46</div>
         <div class="contact"><i class="fa fa-map-marker-alt"></i>Днепровская Набережная 25</div>
         <div class="contact"><i class="fa fa-envelope"></i>info@yoursite.com</div>
         <div class="contact"><i class="fa fa-phone"></i>ПН-ВС: 07:00-18:00</div>
    </div>
    <div class="footer-nav">
    <ul>
        <li><a href="about.html">О нас</a></li>
        <li class="pod-cat"><a href="schedule.html" >Расписание</a></li>
        <li class="pod-cat"><a>Питание</a></li>
        <li class="pod-cat"><a>Занятие</a></li>
        <li><a href="interior.html">Интерьер</a></li>
        <li><a href="news.html">Новости</a></li>
        <li><a href="gallery.html">Галерея</a></li>
        <li><a href="price.html">Цена</a></li>
        <li><a href="contact.html">Контакты</a></li>
    </ul>
 </div>
    <div class="footer-contact-us">
        <h1>Подпишитесь на нашу рассылку!</h1>
        <p>Будьте в курсе всех новостей и скидок наших услуг  обучения в садике Тимкаю</p>
        <div class="formBox">
             <form>
                     <div class="inputBox">
                             <div class="inputText">Email</div>
                             <input type="text" name="" class="input">
                         </div>
           </form>
         </div>
        <button class="but">Подписаться</button>
    </div>
 </div>
 <div class="footer-parallax">
     <div class="layer-1"><img src="../../src/img/fut1-01.png" alt=""></div>
     <div class="layer-2"><img src="../../src/img/fut2-01.png" alt=""></div>
     <div class="layer-3"><img src="../../src/img/fut3-01.png" alt=""></div>
 </div>
 </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>