<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Timka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/styles.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="../../dist/js/script.min.js"></script>
</head>
<body>
   <header>
       <div class="wrapper">
           <div class="top-menu">
               <div class="logo"><img src="../../src/img/Logo.png" alt=""></div>
               <div class="contact-menu">
                   <div class="contact"><i class="fa fa-envelope"></i>info@yoursite.com</div>
                   
                <div class="contact"><i class="fa fa-map-marker-alt"></i>Днепровская Набережная 25</div>
                <div class="contact"><i class="fa fa-phone"></i>+38 (044) 275 46 46</div>

           </div>
           </div>
           </div>
           <nav>
            <ul >
                <li class="nav-item main-link"><a href="main.html" class="nav-link">Главная</a></li>
                <li class="nav-item about-link dropdown" >
                    <a  class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">О нас</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="schedule.html">Расписание</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Питание</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Развитие</a>
                       </div>
                 </li>
               
                    <li class="nav-item design-link"><a href="interior.html" class="nav-link">Интерьер</a></li>
                <li class="nav-item galery-link "><a href="gallery.html" class="nav-link">Галерея</a></li>
                <li class="nav-item contact-link"><a href="contact.html" class="nav-link">Контакты</a></li>
                <li class="nav-item price-link active"><a href="price.html" class="nav-link">Цена</a></li>
            </ul>
        </nav>
      
   </header>
   <main id="price">
       <div class="header-img" style=" background: url(../../src/img/header-img.jpg);">
           <!-- <img src="../../src/img/header-img.png" alt=""> -->
           <img src="../../src/img/clouds1.png" alt="">
       </div>
       <div class="wrapper row container">
       <div class="breadcrumbs">Главная / Цена</div>
           <div class="wrapper-article">
               <h1>Цена детского сада</h1>
        <div class="left-bar">
            <h3>Ежемесячный взнос</h3>
            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. </p>
            <p><i class="far fa-check-square"></i> Весенний праздник мам</p>
            <p><i class="far fa-check-square"></i> Выпускной</p>
            <p><i class="far fa-check-square"></i> Праздник Золотой Осени</p>
            <p><i class="far fa-check-square"></i> День знаний</p>
            <p><i class="far fa-check-square"></i> День Святого Николая</p>
            <p><i class="far fa-check-square"></i> Весенний праздник мам</p>
            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
            <div class="button-price">           
            <button>8200 грн/мес.</button>
            </div>
            <h3>Ежегодный взнос</h3>
            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. </p>
            <p><i class="far fa-check-square"></i> Весенний праздник мам</p>
            <p><i class="far fa-check-square"></i> Выпускной</p>
            <p><i class="far fa-check-square"></i> Праздник Золотой Осени</p>
            <p><i class="far fa-check-square"></i> День знаний</p>
            <p><i class="far fa-check-square"></i> День Святого Николая</p>
            <p><i class="far fa-check-square"></i> Весенний праздник мам</p>
            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </p>
           <div class="button-price">
            <button>500 грн в год</button>
            </div>
           
          </div> 
    </div>
    </div>
   </main>
   <div class="make-an-application">
   <button class="but" data-toggle="modal" data-target="#modal" >Оформить заявку</button>
   <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-notify modal-info" role="document">
     <div class="modal-content modal-contact">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true" class="white-text">&times;</span>
         </button>
       </div>
       <div class="modal-body">
            <div class="wrapper-contact-form">
                    <div class="contact-form">
                      <form action="#" method="post" id="contact_form">
                        <div class="name">
                          <label for="name"></label>
                          <input type="text" placeholder="Имя" id="name" required="">
                        </div>
                        <div class="email">
                          <label for="email"></label>
                          <input type="email" placeholder="Почта" id="email" required="">
                        </div>
                        <div class="telephone">
                          <label for="name"></label>
                          <input type="text" placeholder="Номер телефона" id="phone" required="">
                        </div>
                        <div class="message">
                          <label for="message"></label>
                          <textarea name="message" placeholder="Вопросы" id="message_input" cols="30" rows="5" required=""></textarea>
                        </div>
                        <div class="submit">
                          <button type="button home-cta" class="btn btn-danger btn-lg btn3d"></span> Отправить</button>
                        </div>
                        </form>
                    </div>
                  </div>
       </div>
     </div>
   </div>
 </div>
</div>
   <footer>
        <div class="wrapper container">
        <div class="footer-contact">
             <div class="logo"><img src="../../src/img/Logo.png" alt=""></div>
             <div class="contact c-t"><i class="fa fa-phone"></i>+38 (044) 275 46 46</div>
             <div class="contact"><i class="fa fa-map-marker-alt"></i>Днепровская Набережная 25</div>
             <div class="contact"><i class="fa fa-envelope"></i>info@yoursite.com</div>
             <div class="contact"><i class="fa fa-phone"></i>ПН-ВС: 07:00-18:00</div>
        </div>
        <div class="footer-nav">
        <ul>
            <li><a href="about.html">О нас</a></li>
            <li class="pod-cat"><a href="schedule.html" >Расписание</a></li>
            <li class="pod-cat"><a>Питание</a></li>
            <li class="pod-cat"><a>Занятие</a></li>
            <li><a href="interior.html">Интерьер</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="gallery.html">Галерея</a></li>
            <li><a href="price.html">Цена</a></li>
            <li><a href="contact.html">Контакты</a></li>
        </ul>
     </div>
        <div class="footer-contact-us">
            <h1>Подпишитесь на нашу рассылку!</h1>
            <p>Будьте в курсе всех новостей и скидок наших услуг  обучения в садике Тимкаю</p>
            <div class="formBox">
                 <form>
                         <div class="inputBox">
                                 <div class="inputText">Email</div>
                                 <input type="text" name="" class="input">
                             </div>
               </form>
             </div>
            <button class="but">Подписаться</button>
        </div>
     </div>
     <div class="footer-parallax">
         <div class="layer-1"><img src="../../src/img/fut1-01.png" alt=""></div>
         <div class="layer-2"><img src="../../src/img/fut2-01.png" alt=""></div>
         <div class="layer-3"><img src="../../src/img/fut3-01.png" alt=""></div>
     </div>
     </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>