<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Timka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../../dist/css/styles.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="../../dist/js/script.min.js"></script>
</head>
<body>
   <header>
       <div class="wrapper">
           <div class="top-menu">
               <div class="logo"><img src="../../src/img/Logo.png" alt=""></div>
               <div class="contact-menu">
                   <div class="contact"><i class="fa fa-envelope"></i>info@yoursite.com</div>
                   
                <div class="contact"><i class="fa fa-map-marker-alt"></i>Днепровская Набережная 25</div>
                <div class="contact"><i class="fa fa-phone"></i>+38 (044) 275 46 46</div>

           </div>
           </div>
           </div>
           <nav>
            <ul >
                <li class="nav-item main-link"><a href="#" class="nav-link">Главная</a></li>
                <li class="nav-item about-link dropdown active" >
                    <a  class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">О нас</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item " href="schedule.html">Расписание</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Питание</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Развитие</a>
                       </div>
                 </li>
               
                    <li class="nav-item design-link"><a href="interior.html" class="nav-link">Интерьер</a></li>
                <li class="nav-item galery-link "><a href="gallery.html" class="nav-link">Галерея</a></li>
                <li class="nav-item contact-link"><a href="contact.html" class="nav-link">Контакты</a></li>
                <li class="nav-item price-link "><a href="price.html" class="nav-link">Цена</a></li>
            </ul>
        </nav>
      
   </header>
   <main id="schedule">
       <div class="header-img">
           <!-- <img src="../../src/img/header-img.png" alt=""> -->
           <img src="../../src/img/clouds1.png" alt="">
       </div>
       <div class="wrapper row container">
       <div class="breadcrumbs">Главная / О нас / Расписание</div>
       <h1>Расписание в детском саду Тимка</h1>
       <p class="contact-text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.  </p>
       <table class="table table-bordered">
            <thead>
              <tr>
                <th  class="none" scope="col">  </th>
                <th scope="col">Понедельник</th>
                <th scope="col">Вторник</th>
                <th scope="col">Среда</th>
                <th scope="col">Четверг</th>
                <th scope="col">Пятница</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <th class="none" scope="row">8:30</th>
                <td class="green">Завтрак</td>
                <td class="green">Завтрак</td>
                <td class="green">Завтрак</td>
                <td class="green">Завтрак</td>
                <td class="green">Завтрак</td>
              </tr>
              <tr>
                <th  class="none" scope="row">8:30</th>
                <td class="rose">Прогулка</td>
                <td class="yellow">Игры</td>
                <td class="rose">Прогулка</td>
                <td class="yellow">Игры</td>
                <td class="rose">Прогулка</td>
              </tr>
              <tr>
                <th class="none" scope="row">8:30</th>
                <td class="blue">Обед</td>
                <td class="blue">Обед</td>
                <td class="blue">Обед</td>
                <td class="blue">Обед</td>
                <td class="blue">Обед</td>
              </tr>
              <tr>
                    <th  class="none" scope="row">8:30</th>
                    <td class="fiolet">Сон</td>
                    <td class="fiolet">Сон</td>
                    <td class="fiolet">Сон</td>
                    <td class="fiolet">Сон</td>
                    <td class="fiolet">Сон</td>
                  </tr>
                  <tr>
                        <th class="none" scope="row">8:30</th>
                        <td class="rose">Полудник</td>
                        <td class="rose">Полудник</td>
                        <td class="rose">Полудник</td>
                        <td class="rose">Полудник</td>
                        <td class="rose">Полудник</td>
                      </tr>
                      <tr>
                            <th class="none" scope="row">8:30</th>
                        <td class="green">Игры</td>
                            <td class="fiolet">Прогулка</td>
                            <td class="green">Игры</td>
                            <td class="fiolet">Прогулка</td>
                            <td class="green">Игры</td>
                          </tr>
                          <tr>
                                <th  class="none"scope="row">8:30</th>
                                <td class="yellow">Ужин</td>
                                <td class="yellow">Ужин</td>
                                <td class="yellow">Ужин</td>
                                <td class="yellow">Ужин</td>
                                <td class="yellow">Ужин</td>
                              </tr>
            </tbody>
          </table>
       </div>
    </main>
   <footer>
       <div class="wrapper">
       <div class="footer-contact">
            <div class="logo"><img src="../../src/img/Logo.png" alt=""></div>
            <div class="contact c-t"><i class="fa fa-phone"></i>+38 (044) 275 46 46</div>
            <div class="contact"><i class="fa fa-map-marker-alt"></i>Днепровская Набережная 25</div>
            <div class="contact"><i class="fa fa-envelope"></i>info@yoursite.com</div>
            <div class="contact"><i class="fa fa-phone"></i>ПН-ВС: 07:00-18:00</div>
       </div>
       <div class="footer-nav">
       <ul>
           <li><a href="about.html">О нас</a></li>
           <li><a>Расписание</a></li>
           <li><a>Питание</a></li>
           <li><a>Занятие</a></li>
           <li><a>Интерьер</a></li>
           <li><a href="news.html">Новости</a></li>
           <li><a href="gallery.html">Галерея</a></li>
           <li><a>Цена</a></li>
           <li><a>Контакты</a></li>
       </ul>
    </div>
       <div class="footer-contact-us">
           <h1>Подпишитесь на нашу рассылку!</h1>
           <p>Будьте в курсе всех новостей и скидок наших услуг  обучения в садике Тимкаю</p>
           <div class="formBox">
				<form>
                        <div class="inputBox">
                                <div class="inputText">Email</div>
                                <input type="text" name="" class="input">
                            </div>
              </form>
            </div>
           <button class="but">Подписаться</button>
       </div>
    </div>
    <div class="footer-parallax">
        <div class="layer-1"><img src="../../src/img/fut1-01.png" alt=""></div>
        <div class="layer-2"><img src="../../src/img/fut2-01.png" alt=""></div>
        <div class="layer-3"><img src="../../src/img/fut3-01.png" alt=""></div>
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>