// .header-img {
//   background: url(img/header-img.jpg);
// }
// .galary {
//   .al-1 {
//     background: url(img/galary.jpeg) center no-repeat;
//   }
//   .al-2 {
//     background: url(img/galary2.jpg) center no-repeat;
//   }
//   .al-3 {
//     background: url(img/galary3.jpg) center no-repeat;
//   }
// }

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextCyr-Demi";
  src: url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
