#main {
  .header-img {
    // height: 722px;
    overflow: hidden;
    img {
      margin: 0;
    }
    
    .fade-carousel {
      position: relative;
      // max-height: 600px;
  }

  .carousel-item {
    cursor: pointer;
  }
  .carousel-indicators{
    position: absolute!important;
    margin-top: 0!important;
  }
  .carousel-control-prev, .carousel-control-next{
    z-index: 20;
  }
  .carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: #0e0e0e4f;
  }
  .fade-carousel .carousel-indicators > li {
      margin: 0 2px;
      background-color: #f39c12;
      border-color: #f39c12;
      opacity: .7;
      border: 0!important;
  }
  .fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  .hero {
    
    // width: 80%;
    width: calc(100% - 352px);

    height: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    // text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
              hgroup{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                h3{
                  position: relative;
                  bottom: 0;
                  width: 45%;
                  text-align: left;
                  align-self: flex-end;
                }
              }
}
.hero h1 {
    // font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    // color: white;

    //point
    font-size: 5em;  
    // color: #84ce6e;
    color: #78e358;
    text-shadow: -2px -1px 1px #659955, 1px -0px 1px #fff;

    // font-size: 7em;  
    // color: #659955;
    // text-shadow: -1px 0 3px white;
    font-family: AvenirNextCyr-Demi;
    padding-top: 40px;
    // letter-spacing: 4px;
    // font-size: 100px;
    // line-height: 1.3;
}

//point
// .carousel-slide--content {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     padding: 10px 196px;
//     /* margin-bottom: 20px; */
//     text-align: justify;
//     background: rgb(248, 249, 249);
//     background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5648634453781513) 18%, rgba(255,255,255,0.7833508403361344) 26%, rgba(255,255,255,0.80015756302521) 72%, rgba(255,255,255,0.5396533613445378) 79%, rgba(255,255,255,0) 100%);
// }
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .7;
    // background-color: #ffffff73;
    //point
    top: 0;
    background-color: #bfbfbfb3;
}

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}


.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  //point
  // height: 100vh;
  height: calc(100vh - 212px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
// .fade-carousel .slides .slide-1 {
//   background-image: url("../../src/img/galary3.jpg"); 
// }
// .fade-carousel .slides .slide-2 {
//   background-image: url("../../src/img/galary2.jpg");
// }
// .fade-carousel .slides .slide-3 {
//   background-image: url("../../src/img/galary3.jpg");
// }

/********************************/
/*          Media Queries       */
/********************************/
// @media screen and (min-width: 980px){
//     .hero { width: 980px; }    
// }
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
}
  .wrapper {
    margin: 0;
    width: 100%;
  }
  .doskol {
    display: flex;
    margin: 9rem auto;
    .do-img {
      width: 50%;
      text-align: center;
      img {
        width: 210px;
      }
    }
    .do-text {
      width: 50%;
      p {
        font-family: AvenirNextCyr;
        // font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: -0.2px;
      }
    }
  }
  .advantages {
    width: 100%;
    margin: 0;
    .container {
      margin: auto;
      // padding: 9rem 0px;
      .fact {
        padding: 4rem 2rem;
        background-color: $rose;
        color: white;
        border-radius: 20px;
        h3 {
          margin-bottom: 3rem;
        }
      }
    }
  }

}
.wrapper-contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  .timka-gnom {
    width: 270px;
    position: relative;
    left: 10%;
    bottom: 0;
    img {
      width: 100%;
    }
  }
  .contact-form {
    width: 70%;
    border: 3px solid $fiolet;
    form {
      width: 100%;
      text-align: center;
      padding: 2rem;
      div {
        width: 43%;
        margin: auto;
        input,
        textarea {
          background: none;
          border: none;
          border-bottom: solid 2px $fiolet;
          color: $fiolet;
          font-size: 1em;
          font-weight: 400;
          letter-spacing: 1px;
          margin: 0em 0 0.875em 0;
          padding: 0 0 0.875em 0;
          text-transform: uppercase;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
      }
      input[type="text"]:focus,
      [type="email"]:focus,
      textarea:focus {
        outline: none;
        padding: 0 0 0.875em 0;
      }
    }
  }
}
